.pagination{
    display: inline-flex;

    .page-item{
        margin-right: 10px;

        .page-link{
            border: solid 1px $main-green;
            background-color: transparent;
            color: $white;
            border-radius: 0;
            font-family: 'Exo-Regular';
            box-shadow: none !important;

            &:hover{
                background-color: $main-green;
                color: $bg-color;
            }
        }
    }
}
