@import "./font.scss";
@import "./vars.scss";
@import "./button.scss";
@import "./dropdown.scss";
@import "./pagination.scss";

/* sections */
@import "./sections/header.scss";
@import "./sections/footer.scss";

/* home */
@import "./sections/stage.scss";
@import "./sections/upcoming.scss";
@import "./sections/news.scss";
@import "./sections/game.scss";
@import "./sections/team.scss";
@import "./sections/merch.scss";
@import "./sections/sponsor.scss";

/* member & member detail */
@import "./sections/member.scss";

/* contact */
@import "./sections/contact.scss";

/* about */
@import "./sections/about.scss";

body{
    background-color: $bg-color;
    overflow-x: hidden;

    &:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.6;
        background-image: url("../images/bg-smoke.png");
         background-position: center center;
        background-repeat: no-repeat;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

.content-wrapper{
    width: 100%;
    min-height: 100vh;
    padding-top: 170px;
    position: relative;
}

section{
    position: relative;
}

<<<<<<< HEAD
a{
    cursor: pointer;
    color: $white;
    font-family: 'Exo-Bold';    

    &:hover{
        text-decoration: none;
        color: $main-green;
    }
}

=======
>>>>>>> 277c8c853020234fc0e9cd98610fed80abedc2a4
.section-title{
    color: $yellow;
    font-family: 'Exo-ExtraBoldItalic';
    font-size: 30px;
    position: relative;
    margin-left: 20px;

    &::before{
        content: "";
        position: absolute;
        width: 3px;
        height: 50px;
        background-color: $main-green;
        transform: rotate(30deg);
        top: -5px;
        left: 5px;
    }

    &::after{
        content: "";
        position: absolute;
        width: 30px;
        height: 100%;
        top: 0px;
        left: -14px;
        border-top: solid 35px $bg-color;
        border-right: solid 20px transparent;
    }

    @media (min-width: 768px) {
        font-size: 50px;
        &::before{
            height: 70px;
            left: 10px;
            top: -5px;
        }
        &::after{
            width: 50px;
            top: 0px;
            left: -22px;
            border-top: solid 80px $bg-color;
            border-right: solid 46px transparent;
        }
    }

    &.bt{
        border-top: solid 2px $main-green;
    }
}

.featured-title{
    background-color: $main-green;
    display: inline-block;
    font-family: 'Exo-BoldItalic';
    font-size: 24px;
    padding: 5px 20px;
    position: relative;
    color: $bg-color;

    &::after{
        content: "";
        border-top: 46px solid $main-green;
        border-right: 25px solid transparent;
        height: 46px;
        width: 35px;
        position: absolute;
        top: 0px;
        right: -34px;
    }

    &.full{
        width: calc(100% - 35px);
    }

    @media (min-width: 1200px){
        font-size: 30px;

        &::after{
            border-top: 55px solid $main-green;
            height: 55px;
        }
    }
}

.video{
    position: relative;
    height: 100%;
    width: 100%;

    &:after{
        content: "\f362";
        font-family: 'Ionicons';
        font-size: 80px;
        color: $main-green;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        position: absolute;
        z-index: 2;
    }

    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    @media (min-width: 758px){
        &:after{
            font-size: 150px;
            top: calc(50% - 75px);
            left: calc(50% - 75px);
        }
    }
}
