@keyframes blinker {
    50% { opacity: 0; }
}

.header{
    padding: 20px 0;
    z-index: 10;
    position: absolute;
    width: 100%;

    &.open{
        background-color: $bg-color;
    }

    .logo,
    .menu,
    .add,
    .menu-res{
        display: inline-block;
    }

    .logo{
        float: left;
        img{
            width: 100px;
        }
    }

    .menu{
        margin: 20px 0;
        float: left;
        max-width: calc(100% - 270px);

        a{
            font-family: 'Exo-BoldItalic', 'Exo-Bold';
            font-style: italic;
            font-size: 20px;
            color: $white;
            padding: 0 20px;
            float: left;

            &.active,
            &:hover{
                text-decoration: none;
                color: $yellow;
            }
        }

        @media (max-width: 1119px) {
            display: none;
        }
    }

    .add{
        font-family: 'Exo-Light';
        font-size: 18px;
        margin: 35px 0;
        float: right;
        @media (max-width: 1119px) {
          font-size: 14px;
        }

        a{
            color: $white;
            padding: 0;

            &::before{
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: red;
                margin-right: 5px;
                animation: blinker 1s linear infinite;
            }

            &:hover{
                text-decoration: none;
            }
        }

        @media (max-width: 1119px) {
            width: calc(100% - 175px);
            text-align: center;
        }
    }

    .menu-res{
        display: none;

        @media (max-width: 1119px) {
            display: inline-block;
            float: right;
            margin: 35px 20px;
            width:30px;
            &::before{
                content: "\f394";
                font-family: "Ionicons";
                font-size: 30px;
                color: $main-green;
                cursor: pointer;
                line-height: 20px;
            }

            &.open{
                &::before{
                    content: "\f2d7";
                }
            }
        }
    }

    .dropdown-res-menu{
        display: none;

        &.open{
            display: inline-block;
            min-height: calc(100vh - 140px);
            border-bottom: solid 5px $main-green;

            a{
                color: $white;
                font-family: 'Exo-BoldItalic', 'Exo-Bold';
                font-style: italic;
                font-size: 30px;
                line-height: 60px;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
    }
}
