@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.sponsor{
    margin-bottom: 100px;

    .container{
        border-top: solid 3px $main-green;
        border-bottom: solid 3px $main-green;
        padding-top: 0px;
        padding-bottom: 20px;

        .sponsor-wrap{
            position: relative;
            overflow: hidden;
            padding-left: 100%;
            box-sizing: content-box;

            .list-sponsor{
                display: inline-block;
                white-space: nowrap;
                padding-right: 100%;
                overflow-x: visible;
                box-sizing: content-box;

                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-name: ticker;
                animation-name: ticker;
                -webkit-animation-duration: 15s;
                animation-duration: 15s;

                .item{
                    width: 200px;
                    padding:20px 20px 0px 0;
                    display: inline-block;

                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        @media (min-width: 992px){
            .sponsor-wrap{
                .list-sponsor{
                    .item{
                        width: 350px;
                        padding:30px 30px 30px 0;
                    }
                }
            }
        }

        @media (min-width: 1200px){
            padding: 50px 0;

            .sponsor-wrap{
                .list-sponsor{
                    .item{
                        width: 300px;
                        padding: 0px 30px 0px 0;
                    }
                }
            }
        }
    }
}

.hof{
    margin-bottom: 100px;

    .hof-title{
        color: $main-green;
        font-family: 'Exo-BlackItalic', 'Exo-Black';
        font-style: italic;
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: 550px) {
          font-size: 30px;
        }
    }
    .item{
        width: 100%;
        text-align: center;
        padding: 20px 0;

        .title{
            color: $white;
            font-family: 'Exo-BlackItalic', 'Exo-Black';
            font-style: italic;
            font-size: 100px;

            &.green{
                color: $main-green;
            }
        }
        .subtitle{
            color: $main-green;
            font-family: 'Exo-BlackItalic', 'Exo-Black';
            font-style: italic;
            font-size: 16px;
        }
    }

    .br{
        border-right: solid 1px $main-green;
    }
    .bb{
        border-bottom: solid 1px $main-green;
    }

    @media (min-width: 1200px){
        margin-bottom: 0;
        padding-right: 100px;
    }
}

.hall-fame {
  .container {
    @media (max-width: 550px) {
      max-width: 80%;
      margin: auto;
    }
  }
}

.partner{
    position: relative;
    z-index: 1;

    .item{
        background-color: $white;
        margin-bottom: 30px;
        height: 277px;
        font-family: 'Exo-Regular';
        font-size: 20px;
        &:hover .title{
          background-color: $main-green;
          font-family: 'Exo-Bold';
          color: $white;
        }

        .logo{
            text-align: center;
            width: 100%;
            height: calc(100% - 70px);
            padding: 50px;

            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        .title{
            text-align: center;
            width: 100%;
            height: 70px;
            line-height: 70px;
            cursor: pointer;
            border-top: solid 1px $bg-color;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 20px;
            font-size: 20px;
            font-family: 'Exo-Regular';
            color: #222;

            &:hover{
                background-color: $main-green;
                font-family: 'Exo-Bold';
                color: $white;
            }
            a {
              color: #222;
            }
        }
    }

    .join{
        position: relative;
        margin: 0 20px;
        padding: 25px;

        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: black;
            -webkit-transform: skew(-15deg);
            -moz-transform: skew(-15deg);
            -o-transform: skew(-15deg);
            transform: skew(-15deg);
            -moz-box-shadow: inset 0 0 50px $main-green;
            -o-box-shadow: inset 0 0 50px $main-green;
            -webkit-box-shadow: inset 0 0 25px $main-green;
            box-shadow: inset 0 0 25px $main-green;
            border: 1px solid $main-green;
        }

        img{
            margin-top: -75px;
        }

        .title{
            font-family: 'Exo-BlackItalic', 'Exo-Black';
            font-style: italic;
            font-size: 27px;
            color: $main-green;
            margin: 20px 0;
        }
        .desc{
            color: $white;
            font-size: 16px;
            line-height: 26px;
            font-family: 'Exo-Regular';
            margin-bottom: 30px;
        }

        @media (min-width: 992px){
            .title{
                font-size: 50px;
                margin: 0;
            }
            .desc{
                font-size: 18px;
                line-height: 28px;
            }
        }
        .join-party {
          .btn-outer-green {
            @media (max-width: 992px){
              margin: auto;
              display: table;
            }
          }
        }
    }
}
