.sponsor{
    margin-bottom: 100px;

    .container{
        border-top: solid 3px $main-green;
        border-bottom: solid 3px $main-green;
        padding-top: 5px;
        padding-bottom: 20px;

        .list-sponsor{
            overflow-x: auto;
            white-space: nowrap;

            .item{
                width: calc(50% + 50px);
                padding: 20px 50px 20px 0;
                display: inline-block;
            }
        }

        @media (min-width: 1200px){
            padding: 50px 0;

            .list-sponsor{
                padding-bottom: 10px;
                .item{
                    width: calc(35% + 20px);
                    padding: 0px 20px 0px 0;
                    display: inline-block;
                }

                &::-webkit-scrollbar {
                    height: 10px;
                }
                
                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    background-color: $bg-color;
                }
                
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: lighten($color: $bg-color, $amount: 15);
                }
            }
        }
    }
}

.hof{
    margin-bottom: 100px;

    .hof-title{
        color: $main-green;
        font-family: 'Exo-ExtraBoldItalic';
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }
    .item{
        width: 100%;
        text-align: center;
        padding: 20px 0;

        .title{
            color: $white;
            font-family: 'Exo-ExtraBoldItalic';
            font-size: 100px;
    
            &.green{
                color: $main-green;
            }
        }
        .subtitle{
            color: $main-green;
            font-family: 'Exo-ExtraBoldItalic';
            font-size: 16px;
        }
    }   

    .br{
        border-right: solid 1px $main-green;
    }
    .bb{
        border-bottom: solid 1px $main-green;
    }

    @media (min-width: 768px){
        margin-bottom: 0;
        padding-right: 100px;
    }
}

.partner{
    position: relative;
    z-index: 1;

    .item{
        background-color: $white;
        margin-bottom: 30px;
        height: 277px;
        font-family: 'Exo-Regular';
        font-size: 20px;

        .logo{
            text-align: center;
            width: 100%;
            height: calc(100% - 70px);
            padding: 50px;

            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        .title{
            text-align: center;
            width: 100%;
            height: 70px;
            line-height: 70px;
            cursor: pointer;
            border-top: solid 1px $bg-color;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 20px;
            font-size: 20px;
            font-family: 'Exo-Regular';

            &:hover{
                background-color: $main-green;
                font-family: 'Exo-Bold';
                color: $white;
            }
        }
    }  
    
    .join{
        position: relative;
        margin: 0 20px;
        padding: 25px;

        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: black;
            -webkit-transform: skew(-5deg);
            -moz-transform: skew(-5deg);
            -o-transform: skew(-5deg);
            transform: skew(-5deg);
            -moz-box-shadow: inset 0 0 50px $main-green;
            -o-box-shadow: inset 0 0 50px $main-green;
            -webkit-box-shadow: inset 0 0 50px $main-green;
            box-shadow: inset 0 0 50px $main-green;
        }

        img{
            margin-top: -75px;
        }

        .title{
            font-family: 'Exo-ExtraBoldItalic';
            font-size: 27px;
            color: $main-green;
            margin: 20px 0;
        }
        .desc{
            color: $white;
            font-size: 16px;
            line-height: 26px;
            font-family: 'Exo-Regular';
        }

        @media (min-width: 992px){
            .title{
                font-size: 50px;
                margin: 0;
            }
            .desc{
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}
