.sponsor{
    margin-bottom: 100px;

    .container{
        border-top: solid 3px $main-green;
        border-bottom: solid 3px $main-green;
        padding-top: 5px;
        padding-bottom: 20px;

        .list-sponsor{
            overflow-x: auto;
            white-space: nowrap;

            .item{
                width: calc(50% + 50px);
                padding: 20px 50px 20px 0;
                display: inline-block;
            }
        }

        @media (min-width: 1200px){
            padding: 50px 0;

            .list-sponsor{
                padding-bottom: 10px;
                .item{
                    width: calc(35% + 20px);
                    padding: 0px 20px 0px 0;
                    display: inline-block;
                }

                &::-webkit-scrollbar {
                    height: 10px;
                }
                
                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    background-color: $bg-color;
                }
                
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: lighten($color: $bg-color, $amount: 15);
                }
            }
        }
    }
}

.hof{
    margin-bottom: 100px;

    .hof-title{
        color: $main-green;
        font-family: 'Exo-ExtraBoldItalic';
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }
    .item{
        width: 100%;
        text-align: center;
        padding: 20px 0;

        .title{
            color: $white;
            font-family: 'Exo-ExtraBoldItalic';
            font-size: 100px;
    
            &.green{
                color: $main-green;
            }
        }
        .subtitle{
            color: $main-green;
            font-family: 'Exo-ExtraBoldItalic';
            font-size: 16px;
        }
    }   

    .br{
        border-right: solid 1px $main-green;
    }
    .bb{
        border-bottom: solid 1px $main-green;
    }

    @media (min-width: 768px){
        margin-bottom: 0;
        padding-right: 100px;
    }
}

.sponsorship-contact{
    form{
        background-color: #252525;
        padding: 20px;
        padding-top: 40px;
        width: 100%;
        margin-top: -20px;        

        label{
            color: #808080;
            font-family: 'Exo-Regular';
        }

        .form-control{
            background-color: #1a1a1a;
            border: solid 1px transparent;
            border-radius: 0;

            &:focus{
                box-shadow: none;
                border: solid 1px $main-green;
                outline: none;
            }
        }

        @media (min-width: 768px){
            margin-left: 10px;
        }
    }
}