$slider-active: $yellow;
$slider: rgba(0, 0, 0, .6);

@keyframes cloudLoop{
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    100% {
        -webkit-transform: translate3d(-50%,0,0);
        transform: translate3d(-50%,0,0);
    }
}
.stage{
    background-image: url('../images/banner-smoke-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -170px;
    padding-top: 170px;
    position: relative;
    overflow: hidden;

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4000px;
        height: 100%;
        background-image: url("../images/clouds.png");
        background-position: 0px 100%;
        background-repeat: repeat-x;
        opacity: .5;
        animation: cloudLoop 120s linear infinite;
    }

    .item{
        .wrapper{
            display: table;
            height: 100%;

            .content{
                display: table-cell;
                vertical-align: middle;
            }
        }
        .title{
            font-family: 'Exo-BlackItalic', 'Exo-Black';
            font-style: italic;
            font-size: 60px;
            color: $white;
            @media (max-width: 550px) {
              font-size: 40px;
            }
        }
    }

    .owl-stage-outer{
        width: 100%;
    }

    .owl-dots{
        position: absolute;
        bottom: 50px;
        width: 50%;
        left: 25%;
        text-align: center;

        .owl-dot{
            height: 5px;
            width: 40px;
            background-color: $slider;
            display: inline-block;
            margin-right: 10px;

            &.active{
                background-color: $slider-active;
            }
        }
    }

}
.banner-img {
  @media (max-width: 550px) {
    max-width: 80%;
  }
}
